* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.container-geral {
    min-width: 320px;
}

img {
    height: auto;
    width: 100%;
}

@font-face {
    font-family: "dancing";
    src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}

header {
    height: 100vh;
    background-image: url("../img/background-header.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* opacity: 0.7; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-header {
    font-family: "dancing", cursive;
    height: 70%;
    width: 80%;
    border: 5px solid #ffffff52;
    color: #ffffff;
}

.content-header h1 {
    font-size: 6em;
    text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5);
}

nav .button-menu {
    height: 48px;
    width: 48px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@media screen and (max-width: 740px) {
    .content-header h1 {
        font-size: 5em;
    }
}

@media screen and (max-width: 384px) {
    .content-header h1 {
        font-size: 4em;
    }
}